@font-face {
    font-family: "CascadiaCode";
    src: url("./fonts/CascadiaCode.ttf");
}

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: monospace;
    user-select: none;
    overflow-y: auto;
}

body {
    /*background: linear-gradient(to bottom, rgba(40, 40, 82, 0.746), rgba(147, 147, 194, 0.842));*/
    background-image: url("./img/code-night.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 100vw;
    min-width: 280px;
    position: relative;
    height: 100vh;
}

body::before {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0 ,0, .5);
    backdrop-filter: blur(10px);
}

/* --------------------------------------- */
/*----- CABECERA DE LA PÁGINA ------ */
/* --------------------------------------- */
.header {
    display: flex;
    width: 100%;
    height: auto;
    background-color: rgba(0, 0, 0, 0);
    padding: 10px 0px;
    border-bottom: 1px solid #fff0;
    margin-bottom: 10px;
    position: relative;
    justify-content: center;
    z-index: 10;
}
/* Estilos para el boton del menu */
header .btn-menu {
    position: absolute;
    left: 20px;
    width: 40px;
    height: 40px;
    font-size: 30px;
    color: #fff;
    background-color: transparent;
    outline: none;
    cursor: pointer;
    border: none;
    overflow: hidden;
}
header .btn-menu:active {
    color: #ccc;
}
header .btn-menu i {
    line-height: 40px;
}

/* Estilos para el contenido del menu */
.fondo-menu {
    position: absolute;
    width: 100%;
    height: auto;
    background-color: rgb(12, 11, 11, .8);
    z-index: 15;
    left: -100%;
    transition: left .3s ease-out;
    top: 57px;
}
.fondo-menu .menu {
    position: relative;
    width: 300px;
    height: calc(100vh - 57px);
    padding: 15px 0px;
    background-color: rgb(0, 0, 0);
    z-index: 2;
    background: linear-gradient(135deg, #000 , #1115);
    
}
.menu .container-menu {
    width: 100%;
    position: relative;
    display: inline-block;
    height:min-content;
    text-align: center;
}
.menu .container-menu > h2 {
    color: rgb(255, 255, 255);
    text-shadow: 1px 1px 2px #f00;
}
.menu .container-menu .insert {
    display: inline-block;
    height: auto;
    text-align: left;
    width: 90%;
    color: #fff;
    font-size: 15px;
    margin-top: 15px;
}
.menu .container-menu .value {
    margin-top: 5px;
    width: 90%;
    height: 25px;
    outline: none;
    padding: 0px 5px;
}
.menu .container-menu .start {
    margin-top: 15px;
    width: 90%;
    height: 28px;
    font-size: 20px;
    background-color: rgba(40, 54, 247, 0.938);
    color: #fff;
    outline: none;
    box-shadow: 0px 0px 5px #ccc inset;
    border-radius: 5px;
    border: none;
    cursor: pointer;
}
.menu .container-menu .start:active {
    background-color: rgb(8, 8, 165, .7);
    color: #ccc;
}
.menu .container-menu .value:focus ~ .error-menu {
    color: #000;
}
/* error en el menu */
.error-menu {
    font-weight: bold;
    font-size: 13px;
    margin-top: 50px;
}
/*---- Tittulo de la página ----*/
.header h1 {
    letter-spacing: 1.5px;
    font-size: 30px;
    font-family: "CascadiaCode";
    color: rgb(255, 255, 255);
    text-shadow: 2px 2px 5px #55f;
}
/* --- Boton-Cambio de tema de la página --- */
header .change-tema {
    position: absolute;
    width: 40px;
    height: 30px;
    right: 20px;
    align-self: center;
    cursor: pointer;
    text-align: center;
}
.header .change-tema i {
    line-height: 30px;
}

/* -------------------------------------------------- */
/*------ ANIMACION - SECCIÓN PRINCIPAL ------*/
/* -------------------------------------------------- */
main {
    max-width: 1000px;
    height: 60vh;
    display: flex;
    flex-wrap: nowrap;
    margin: auto;
    justify-content: center;
    overflow: auto;
}
.array_container {
    display: inline-flex;
    position: absolute;
}
.array_element {
    width: 40px;
    height: 40px;
    /* background: rgb(128, 36, 248); */
    background: rgb(245, 26, 26);
    margin: 0px 1px 0px 1px;
    box-shadow: 0px 0px 3px #000 inset;
    padding: 0px 5px;
}
.array_element p {
    font-weight: bold;
    color: #000;
    text-align: center;
    font-size: 1.3em;
    line-height: 40px;
    width: auto;
}
/*---- Error en la sección principal----*/
.error-main {
    position: absolute;
    bottom: 120px;
    display: none;
    width: 100%;
    font-size: 13px;
    font-weight: bold;
    text-align: center;
    background-color: #0002;
    padding: 5px 0;
}

/* -------------------------------------------- */
/* CONTROLADORES DE ANIMACIÓN (BOTONES) */
/* -------------------------------------------- */
.footer {
    width: 100%;
    /*background-color: rgb(12, 11, 11, 1);*/
    background-color: transparent;
    height: auto;
    position: absolute;
    bottom: 0;
    /*border-top: 1px solid #ccc;*/
    z-index: 2;
}
.footer > .container_btn {
    justify-content: center;
    display: flex;
    flex-wrap: nowrap;
}
.footer .container_btn > .btn {
    margin: 0 20px 40px 20px;
    width: 300px;
    min-width: 150px;
    height: 40px;
    font-size: 25px;
    font-weight: bold;
    position: relative;
}
.btn {
    outline: none;
    cursor: pointer;
    position: relative;
    border: none;
    font-family: "CascadiaCode";
    background: transparent;
    border-bottom: 2px solid #fff;
    color: #fff;
    border-radius: 5px;
}
.btn_ordenar {
    border-bottom: 1px solid #cfc;
}
.btn_reiniciar {
    border-bottom: 1px solid #fcc;
}
.btn_ordenar:hover {
    /*background: linear-gradient(150deg, rgb(10, 240, 10),#cfc);*/
    transition: all .2s linear;
    color: #cfc;
    box-shadow: 1px 1px 5px #cfc;
}
.btn_reiniciar:hover {
    /*background: linear-gradient(150deg, rgb(255, 0, 0) ,#fcc);*/
    transition: all .2s linear;
    color: #fcc;
    box-shadow: 1px 1px 5px #fcc;
}
.btn:active {
    opacity: .7;
}
@media only screen and (max-width: 512px),
only screen and (max-width: 825px) and (max-height: 415px) and (orientation: landscape) {
    /* Cabecera */
    .header {
        z-index: 10;
        padding: 10px;
    }
    .header h1 {
        font-size: 25px;
        text-align: center;
        margin: 0px 25px;
    }
    .header .change-tema {
        right: 5px;
    }
    /* Menu */
    .header .btn-menu {
        height: auto;
        font-size: 25px;
        left: 5px;   
    }
    .header .btn-menu i {
        display: inline;
        line-height: 30px;
    }
    .fondo-menu {
        opacity: .9;
        z-index: 4;
        top: 50px;
    }
    .fondo-menu .menu {
        width: 100%;
        min-width: 280px;
    }
}
@media only screen and (max-width: 425px) {
    /* caebecera */
    .header {
        justify-content: space-between;
        padding: 5px;
    }
    .header h1 {
        font-size: 20px;
        margin: 0px 50px;
    }
    .header .change-tema,
    .header .btn-menu {
        position: relative;
    }
    .fondo-menu {
        top: 57px;
    }
    /* main */
    main {
        height: 40vh;
        overflow-y: auto;
    }
    .array_element {
        width: 30px;
        height: 30px;
        overflow-x: auto;
    }
    .array_element p {
        line-height: 30px;
        font-size: 1.1em;
    }

    /* footer - controladores de animación(botones) */
    .footer .container_btn {
        flex-wrap: wrap;
        padding: 10px;
    }
    .footer .container_btn .btn {
        width: 100%;
        margin: 5px 0;
        font-size: 20px;
        height: 30px;
    }
}

@media only screen and (max-width: 825px) and (min-width: 500px) and (max-height: 415px) and (orientation: landscape) {
    /* .fondo-menu .menu {
        opacity: .95;
        background: linear-gradient(135deg, #000, #222);
        
    } */
    .menu .container-menu {
        display: grid;
        grid-template-columns: 1fr 1fr ;
        grid-template-rows: repeat(5,auto);
        gap: 2px;
        justify-items: center;
        align-items: center;
    }
    .menu .container-menu .value,
    .menu .container-menu .insert,
    .menu .container-menu .start,
    .menu .container-menu .error-menu {
        margin: 0px;
        padding: 0px;
    }
    .menu .container-menu h2 {
        grid-column: 1/-1;
    }
    .menu .container-menu .insert-array {
        grid-row: 2/3;
        grid-column: 1/2;
    }
    .menu .container-menu .insert-time {
        grid-row: 4/5;
        grid-column: 1/2;
    }
    .menu .container-menu #arr-ingresado{
        grid-row: 3/4 ;
    }
    .menu .container-menu #time-ingresado {
        grid-row: 5/6;
    }
    .menu .container-menu .start {
        grid-row: 2/span 2;
        align-self: flex-end;
    }
    .menu .container-menu .error-menu {
        grid-row: 4/span 2;
        align-self: flex-end;
    }
}
